
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Login</h2>

<div class="row">
    <div class="danger">
        @ViewBag.error
    </div>
    <form action="@Url.Content("~/Login/Login")" method="post">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <label>User:</label>
                <input type="text" name="user" />
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
            <div class="form-group">
                <input type="radio" name="type" value="2" />Student
            </div>
            <div class="form-group">
                <input type="radio" name="type" value="1" />Administrator
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Login" />
            </div>
        </div>
    </form>
</div>
