
@{
    ViewBag.Title = "UnauthorizedOperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Error, you are not authorized
    </h1>
</section>

<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">Error</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-danger"></i>without authorization</h3>
            @if (ViewBag.operation != "")
            {
                <p>Operation @ViewBag.operation</p>
            }
            @if (ViewBag.module != "")
            {
                <p>Module @ViewBag.module</p>
            }
            @if (ViewBag.msjeErrorException != "")
            {
                <p>@ViewBag.msjeErrorException</p>
            }

        </div>

    </div>
</section>
